html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}

header {
    height: 202px;
    background: linear-gradient(to bottom, rgba(240, 137, 3, 0.247), rgba(95, 187, 10, 0.205)),
                url(images/mushrooms-header.jpg) 0 0 no-repeat;
    background-size: 100%;
    position: relative;
    text-align: center;
}

img {
    width: 100%;
}

header h1 {
    font-size: 2em;
    text-shadow: 1px 1px 3px black;
    color: rgb(235, 145, 28);
    margin-top: 0;
    padding-top: 40px;
}

header h2 {
    font-size: 1em;
    text-shadow: 0.5px 0.5px 1px black;
}

.nav_bar {
 display: flex;
 flex-direction: column;
 flex-wrap:wrap;
 justify-content: space-around;
 background-color: tan;
 overflow: hidden; 
 margin-bottom: 1em; 
}

.nav_bar a {
    float: left;
    color: olive;
    font-size: 1em;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_bar a:hover {
    color: rgb(117, 117, 76);
    background-color: rgb(228, 210, 187);
}

.page {
    border-bottom: 1px solid black;
}

.section_heading {
    text-align: center;
}